$main-black: #222222;
$main-gray: #ebebf0;
$main-bg: #e8e8ed;
$our-works-gallery-item-bg: #f5f5f5;
$adv-gallery-dots-border: #666666;
$social-list-icon: #666666;
$gallery-thumbnails-bg: #f5f5f5;
$header-gallery-border: #eeeeee;
$gallery-slider-side-bg: rgba(255,255,255,0.8);