@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamPro/gothamprolight.eot");
    src: url("../fonts/GothamPro/gothamprolight.eot?#iefix")format("embedded-opentype"),
    url('../fonts/GothamPro/gothamprolight.woff2') format('woff2'),
    url("../fonts/GothamPro/gothamprolight.woff") format("woff"),
    url("../fonts/GothamPro/gothamprolight.ttf") format("truetype"),
    url('../fonts/GothamPro/gothamprolight.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PlayfairDisplayBold";
    src: url("../fonts/PlayfairDisplay/playfairdisplay-bold.eot");
    src: url("../fonts/PlayfairDisplay/playfairdisplay-bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PlayfairDisplay/playfairdisplay-bold.woff2') format('woff2'),
    url("../fonts/PlayfairDisplay/playfairdisplay-bold.woff") format("woff"),
    url("../fonts/PlayfairDisplay/playfairdisplay-bold.ttf") format("truetype"),
    url('../fonts/PlayfairDisplay/playfairdisplay-bold.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PlayfairDisplayReg";
    src: url("../fonts/PlayfairDisplay/playfairdisplay-regular.eot");
    src: url("../fonts/PlayfairDisplay/playfairdisplay-regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PlayfairDisplay/playfairdisplay-regular.woff2') format('woff2'),
    url("../fonts/PlayfairDisplay/playfairdisplay-regular.woff") format("woff"),
    url("../fonts/PlayfairDisplay/playfairdisplay-regular.ttf") format("truetype"),
    url('../fonts/PlayfairDisplay/playfairdisplay-regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}