$max-width-desktop-xl: 1200px;
$max-width-desktop-l: 968px;
$max-width-tablet: 768px;
$max-width-phone: 100%;
$scrollbar-width: 40px;
$padding-desktop: 16px; //32px;

$btn-rect-line-width: 32px;

$about-content-item-photo-width: 60%;
$about-person-photo-size: 96px;

$adv-gallery-photo-width: 44%;

$gallery-content-width-desktop-xl: 830px;
$gallery-content-width-desktop-l: 100%;
$gallery-thumbnails-item-size: 56px;
$gallery-slider-item-width-desktop-xl: 830px;
$gallery-slider-item-height-desktop-xl: 548px;
$gallery-slider-item-width-desktop-l: 630px;
$gallery-slider-item-height-desktop-l: 448px;
$gallery-slider-item-width-desktop-tablet: 430px;
$gallery-slider-item-height-desktop-tablet: 320px;
$gallery-slider-item-width-desktop-phone: 300px;
$gallery-slider-item-height-desktop-phone: 220px;