footer.footer
    div.container.footer__container
        div.footer__item
            a.footer__logo.title.title_m(href="").
                TVOYA KOMANDA
        div.footer__item
            ul.social-list.social-list_icons
                li.social-list__item
                    a.social-list__link(href="").
                        <svg class="social-list__icon social-list__icon_fb">
                            <use xlink:href="#iconFb">
                        </svg>
                        Facebook
                li.social-list__item
                    a.social-list__link(href="").
                        <svg class="social-list__icon social-list__icon_inst">
                            <use xlink:href="#iconInst">
                        </svg>
                        Instagram
                
                        