div.container.header__container
    div.header__item.header__item_logo
        a.header__logo.title_state_hide(href="main.html").
            TVOYA KOMANDA
    div.header__item.header__item_nav
        ul.header__nav
            li.header__nav-item
                a.header__nav-link.js-link-smooth-scroll(href="#portfolio" data-gallery-href="main.html#portfolio").
                    ПОРТФОЛИО
            li.header__nav-item
                a.header__nav-link.js-link-smooth-scroll(href="#adv" data-gallery-href="main.html#adv").
                    Реклама о нас
            li.header__nav-item
                a.header__nav-link.js-link-smooth-scroll(href="#contacts" data-gallery-href="main.html#contacts").
                    КОНТАКТЫ
            //li.header__nav-item
                a.header__nav-link(href="#services").
                    услуги